* {
    box-sizing: border-box;
}

:root {
    --dark: rgba(0, 0, 0, 0.8);
    --lighter: rgb(104, 109, 118);
}

.dark-color {
    color: var(--dark);
}
.light-color {
    color: var(--lighter);
}
.small-font {
    font-size: 12px;
}
html {
    body {
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .music-player {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 200px;
            height: 400px;
            border-radius: 9px;
            .wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .top-nav {
                    .back-btn-container {
                        i {
                        }
                    }
                    
                }
                .track-art {
                    height: 150px;
                    border-radius: 15px 15px 0 0;
                    background-image: url('../img/maroon5.webp');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .song-details {
                    #song-title {

                    }
                    #playlist-btn {
                        font-size: 12px;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    #song-artist {
                        font-size: 12px;
                        margin-top: -11px;
                    }
                }
                .song-play-nav {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 9px;
                    .song-play-nav-container {
                        .nav-btn {
                            i { 
                                padding: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}